#settings {
  margin: 1rem;
  padding: 1rem;
  overflow-y: auto;
  border-color: var(--text-color);
  border-style: solid;
  position: relative;
}

#settings button {
  font-family: inherit;
  font-size: 0.8rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 0.2rem 0.5rem;
  border-color: var(--text-color);
  border-style: solid;
  border-radius: 0.4rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  
  &:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    cursor: pointer;
  }
  
  &.close-btn {
    margin: 0;
    padding: 0;
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    font-family: 'Courier New', Courier, monospace;
  }
}

#settings > * {
  font-size: 0.8rem;
  display: block;
  margin-bottom: 0.5rem;
  
  &.section-title {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 1rem;
  }
  
  & input {
    font-size: 0.8rem;
    font-family: inherit;
    font-size: inherit;
    background: inherit;
    color: inherit;
    border-color: var(--text-color);
    border-style: solid;
  }
}